html{
  background-color:  rgb(72, 39, 39)
}
.container-fluid{
  background-color: rgb(72, 39, 39)
}

input[type="text"]{
  background: transparent;
  color: #FFFF;
}

input[type="text"]:focus{
  background: transparent;
  color: #FFFF;
}
button btn{
 font-weight: bold;
}